<div class="container">
    <div class="row">
        <label for="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 "
            style="margin-top: auto;margin-bottom: auto;">Tên</label>
        <input type="text" class="col-md-9 col-xs-9 col-sm-9 col-lg-9 col-xl-9 form-control" name="" id="" [(ngModel)]="ten">
    </div>
    <div class="row">
        <label for="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 ">Giá</label>
        <input type="text" class="col-md-9 col-xs-9 col-sm-9 col-lg-9 col-xl-9 form-control" name="" id="" [(ngModel)]="gia">
    </div>
    <div class="row">
        <!-- option -->

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <label for="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 ">Loại</label>
                <select class="col-md-8 col-xs-8 col-sm-8 col-lg-8 col-xl-8 form-control" name="" id="" [(ngModel)]="loai">
                    <option >Dép lào</option>
                    <option >Dép crocs</option>
                     
                </select>
                
            </div>
        </div>

        <!-- class="col-md-8 col-xs-8 col-sm-8 col-lg-8 col-xl-8 form-control" -->

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <label for="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 ">Hãng</label>
                <input type="text" class="col-md-8 col-xs-8 col-sm-8 col-lg-8 col-xl-8 form-control" name="" id="" [(ngModel)]="hang">
            </div>
        </div>



    </div>


    <!-- <div class="row">
               
        <label for="" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 ">Hãng</label>
        <input type="text" class="col-md-9 col-xs-9 col-sm-9 col-lg-9 col-xl-9 form-control" name="" id="">
    </div> -->

    <div class="row">
        <!-- Size -->
        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
            Size
        </label>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <input *ngFor="let item of sizeSlgTT,let i = index" type="number" class="form-control col-md-2"
                    min="36" [value]="item[0]" max="44" (change)="onChangeSize($event,i)"/>
                <a class="btn btn-light  col-md-2 " 
                (click)="onAddSize()"><i class="fas fa-plus"
                style="color: black;"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <label for="" class="col-md-3">Mô tả</label>
        <textarea name="" id="" class="form-control col-md-9" rows="4" [(ngModel)]="mota"></textarea>
    </div>




</div>

<div class="container">
    <div class="row">
        <input type="file" class="btn btn-light" multiple (change)='onDrop($event.target.files)'>
        <div *ngFor="let item of files">
            <app-upload-task [file]='item'></app-upload-task>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div *ngFor="let item of ListURL" class="container col-md-2" style="border: 1px solid red;">
            <img [src]="item" height="100%" width="100%">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <a class="btn btn-primary col-md-2" (click)="onSubmit()">Ok</a>
    </div>
</div>
