<div class="fill100">
    <div class="lammo">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
    
                </div>
                <div class="col-md-6" style="margin-top: 150px;border: 1px solid white;border-radius: 15px;">
                    
                    <div style="padding: 50px 15px;">
                        <div class="row m" >
                            <input type="text" placeholder="Tên" class="form-control col-md-12" name="" id="" [(ngModel)]="ten">
                        </div>
                        <div class="row m" >
                            <input type="text" placeholder="SĐT" class="form-control col-md-12" name="" id="" [(ngModel)]="sdt">
                        </div>
                        <div class="row m" >
                            <input type="text" placeholder="Địa chỉ" class="form-control col-md-12" name="" id="" [(ngModel)]="dc">
                        </div>
                        <div class="row m" >
                            <input type="text" placeholder="Tài khoản" class="form-control col-md-12" name="" id="" [(ngModel)]="tk">
                        </div>
                        <div class="row m" >
                            <input type="password" placeholder="Mật khẩu" class="form-control col-md-12" name="" id="" [(ngModel)]="mk">
                        </div>
                        <div class="row">
                            <a class="btn btn-light col-md-4 offset-4" (click)="onDkClick()">Đăng ký</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>