
<div class="container" style="margin: 40px 40px;">
    <div class="row"> 
        <div class="col-md-6" >
            <div class="pay-left">
                <div class="container">
                    <h1>Shop bán dép xinh đẹp</h1>
                    <hr>
                </div>
                <div class="form-custommer">
                    <input type="text" class="form-control" placeholder="Họ và tên">
                    <div class="row">
                        <div class="col-md-7">
                                <input type="email" class="form-control" placeholder="email">

                        </div>
                        <div class="col-md-5">
                            <input type="number" class="form-control" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Địa chỉ" >
                    <div class="row">
                        <div class="col-md-6">
                                <select class="abc form-control">
                                        <option>Tỉnh/ Thành</option>
                                        <option value="nam">HCM</option>
                                        <option value="bac">HN</option>
                                    </select>
                        </div>
                        <div class="col-md-6">
                                <select class="form-control">
                                    <option>Quận/ Huyện</option>
                                    <option >Quận 1</option>
                                    <option>Quận 2</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="okpay" style="margin-left: 7px;">
                    <a routerLink="/ShoppingCard"> << Giỏ hàng</a>
                    <button style=" margin-top: 7px; float: right;" class="btn btn-dark">Chọn phương thức thanh toán</button>
                </div>
             </div>
        </div> 
        <div class="col-md-6"  >
            <div class="pay-right" >
                <h1>Thông tin sản phẩm </h1>
            </div>
        </div> 
    </div>
</div>