<div class="container-fluid" id="foot">
    <div class="row">
        <div class="col-md-3">
            <h3>LOCATION</h3>
            <div class="address">
                155 Sư Vạn Hạnh, Phường 13, Quận 10, TP.HCM
            </div>
            Điện thoại: 
            <a href="#"> (+84 28) 38 632 052 - 38 629 232</a> 
            <p>Fax: (+84 28) 38 650 991</p>
            <p>Email: contact@huflit.edu.vn</p>
        </div>
        <div class="col-md-3">
            <h3>HELP</h3> 
        </div>
        <div class="col-md-3">
            <h3>ABC</h3>

        </div>
        <div class="col-md-3">
            <h3>COMPANY</h3>

        </div>
    </div>
</div>