<!-- <div class="container">
    <div class="row">

        <div class="col-sm-6 col-md-4 col-xl-3" style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-primary" style="width: 100%">
                <h5 class="text-center">
                    ...
                </h5>
            </a>
        </div>

        <div class=" col-sm-6 col-md-4 col-xl-3" style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-warning" style="width: 100%">
                <h5>
                    ...
                </h5>
            </a>
        </div>

        <div class=" col-sm-6 col-md-4 col-xl-3" style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-danger" style="width: 100%">
                <h5>
                    ...
                </h5>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-xl-3" style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-success" style="width: 100%;">
                <h5>
                    ...
                </h5>
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-9 col-md-9" style=" border: 1px solid red;">
            <app-linechart></app-linechart>
        </div>
        <div class="col-sm-3 col-md-3">

        </div>
    </div>
</div> -->