<nav class="navbar navbar-expand-lg navbar-light bg-light " id="NavigateBar">

  <a class="navbar-brand" (click)="onHomeClick()">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="openbutton">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link btn btn-light" routerLinkActive="active" (click)="onHomeClick()" routerLink="TrangChu">Home </a>
      </li>

      <li class="nav-item dropdown" >
        <a class="dropbtn nav-link btn btn-light" routerLinkActive="active" (click)="onHomeClick()" routerLink="/Shop">Shop</a>

      </li>
      <li class="nav-item dropdown" >
        <a class="dropbtn nav-link btn btn-light" (click)="onHomeClick()" routerLinkActive="active" routerLink="/Blog">Blog</a>

      </li>
      <li class="nav-item dropdown" >
        <a class="dropbtn nav-link btn btn-light" (click)="onHomeClick()" routerLinkActive="active" routerLink="/Contact">Contact</a>
        <div class="dropdown-content">
          <a routerLink="sanpham/tra">Link 1</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item ">
        <a (click)="onHomeClick()" routerLink="ShoppingCard" routerLinkActive="active" class="btn btn-light  nav-link"> 
          <i class="fas fa-shopping-cart">
            <span class="badge badge-light">
              {{gioHang.length}}
            </span>
          </i>
        </a>
      </li>

      <li class="dropdown nav-item">
        <a class="dropbtn nav-link btn btn-light ">Welcome, <span
            style="font: italic bold 12px/30px Georgia, serif;">{{admin.User.Ten}}</span>
        </a>

        <div class="dropdown-content">
          <a *ngIf="admin.User.IsLogIn != true" style="cursor: pointer" routerLink='Signin'>SignIn</a>
          <a *ngIf="admin.User.IsLogIn == true" routerLink="/UserHomePage" style="cursor: pointer">User</a>
          <a *ngIf="admin.User.IsLogIn == true && admin.User.Role =='Admin'" routerLink='Admin' (click)="onAdminClick()"
            style="cursor: pointer">Admin</a>
          <a *ngIf="admin.User.IsLogIn == true" style="cursor: pointer" (click)="onLogOut()">Log out</a>
        </div>
      </li>

    </ul>
  </div>
</nav>

<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->