.carousel-inner img {
    width: 100%;
    height: 100%;
}
.row .freeship .text-box
{
    background-color: #ca7379
}
.row .giveaway .text-box
{
    background-color: #c1ac91;
}
.row .sale .text-box
{
    background-color: #8090a1;
}
.row  .text-box
{    
     height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    
 }
  
 
.row .freeship{
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
    background-color: #ca7379;
    margin-top: 20px
}
.row .giveaway{
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
    background-color: #ca7379;
    margin-top: 20px
}
.row .sale{
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
    background-color: #ca7379;
    margin-top: 20px
}
 
.row .freeship .icon-box{
    background-color: #b5676d;
}
.row .icon-box{
    float: right; 
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    color: white;
    font-size: 30px
}

.trendy-products{
    margin-bottom: 40px;
}
.trendy-products h3{
    color: #25282c;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 6px;
    margin: 0 0 10px;
    text-align: center;
}
.trendy-products h5{
    color: #25282c;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 4px;
    margin: 0 0 50px;
    text-align: center;
}
#carousel-1 .tab-heading{
    margin-bottom: 40px;
    text-align: center;
    
}

#carousel .tab-heading .active{
    color: #ca7379
}
#carousel .tab-heading span{
    color: #25292c;
    margin: 0 20px 50px;
    letter-spacing: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    display: inline-block;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0 , 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
}
/* css of list products */
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:20px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .founder:hover .image {
    opacity: 0.5;
  }
  
  .founder:hover .middle {
    opacity: 1;
  }
  .saleoff:hover .image {
    opacity: 0.5;
  }
   
  
  
  .text{
      color: #555;
      font-size: 40px;
      text-align: center;
   }
    
   .saleoff:hover .middle1  {
    opacity: 1;
  }
   .middle1 {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.subcribe-box h3{
    color: #222;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 4px;
    margin: 20px 0;
}
.subcribe-box h5{
    font-family: 'Merriweather', serif;
    color: #222;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 4px;
    margin: 0 0 35px;
}
.subcribe-box{
    border: 5px solid #eeeeee;
    padding-top: 70px;
    text-align: center;
    min-height: 340px;
}
.subcribe-box .sub-form input
{
    border: none;
    border-radius: 25px;
    color: #aaa;
    font-size: 10px;
    height: 42px;
    padding: 0 10px;
    text-align: center;
    width: 250px;
    background-color: #fafafa;
    transition: all 0.4s ease
}
input button{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
     cursor: pointer;
}
.subcribe-box .sub-form button
{
    border: 1px solid#ca7379;
    color: #fff;
    font-size: 10px;
    height: 42px;
    width: 120px;
    display: inline-block;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    background-color: #ca7379;
    border-radius: 25px;
    transition-property: color;
    transition-duration: 0.3s;

}





.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #b0bec5;
}